* {
    font-family: fantasy;
}

:root {
    --dark: rgba(128, 128, 128, 0.476);
}

body {
    background-color: steelblue;
}

header {
    background-color: var(--dark);
}

.dayH {
    font-weight: 800;
    color: white;
}

.card,
.main {
    background-color: var(--dark);
    border-radius: 10px;
    font-weight: 900;
    color: white;
}

.card:hover {
    box-shadow: 12px 12px 2px 1px rgba(31, 31, 64, 0.2);
}

.btn {
    background-color: black;
}

.btn:hover {
    box-shadow: 12px 12px 2px 1px rgba(31, 31, 64, 0.2);
    background-color: grey;
}